# 禁止ワードリスト
# このファイルに記載された単語がコミットされるとエラーになります
# 行の先頭に # を付けるとコメントになります

# 個人情報保護
password
secret
api_key
private_key

# デバッグ用コメント（任意で有効化）
# TODO
# FIXME
# XXX
# HACK

# カスタムワード（必要に応じて追加）
# example_word
