@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    overflow-y: visible;
    overscroll-behavior: contain;

    & > li {
      & > a {
        background-color: transparent;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        display: block;
        width: 100%;
      }
    }
  }
}
