@use "./base.scss";

// put your custom CSS here!

// Hide footer
footer {
  display: none !important;
}

// Graph view styling - always show labels
.graph {
  canvas {
    opacity: 1 !important;
  }
}
